@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Montserrat:ital,wght@0,400;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.logo {
  -webkit-animation: logo 0.9s cubic-bezier(0.445, 0.05, 0.55, 0.95) both;
  animation: logo 0.9s cubic-bezier(0.445, 0.05, 0.55, 0.95) both;
}

@-webkit-keyframes logo {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes logo {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.navbar {
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.menu {
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  font-size: smaller;
  letter-spacing: 3px;
}
.menu li {
  display: inline-block;
  margin-inline: 30px;
}
.menu a {
  text-decoration: none;
  color: rgb(23, 7, 7);
}
.menu li {
  -webkit-animation: tracking-out-contract 0.8s cubic-bezier(0.55, 0.085, 0.68, 0.53) reverse both;
  animation: tracking-out-contract 0.8s cubic-bezier(0.55, 0.085, 0.68, 0.53) reverse both;
}
@-webkit-keyframes tracking-out-contract {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
}
@keyframes tracking-out-contract {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
}

.inicio {
  min-height: 100vh;
  background-image: url(../Assets/Fondo2.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
}
.inicio .inicio2 {
  background-color: rgba(29, 29, 29, 0.767);
  padding: 50px;
  margin: 0 50px 0 50px;
}
.inicio .inicio2 {
  -webkit-animation: inicio2 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: inicio2 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes inicio2 {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
    transform: translateZ(12px);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes inicio2 {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
    transform: translateZ(12px);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
.inicio h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 250%;
  font-weight: bolder;
  color: white;
  letter-spacing: 8px;
  margin-top: 30px;
  text-align: center;
}
.inicio p {
  font-family: "Cormorant Garamond", serif;
  font-weight: lighter;
  font-size: 160%;
  color: white;
  margin: 30px;
  text-align: center;
  font-style: italic;
}

/* CSS de cosas más generales */
.subtitulos {
  font-family: "Montserrat", sans-serif;
  font-size: x-large;
  font-weight: bolder;
  color: rgb(23, 7, 7);
  margin: 50px;
  letter-spacing: 3px;
}

.texto {
  font-family: "Cormorant Garamond", serif;
  font-weight: bolder;
  font-size: medium;
  color: black;
}

.sub-subtitulo {
  font-family: "Montserrat", sans-serif;
  font-size: large;
  font-weight: bolder;
  color: rgb(23, 7, 7);
}

.fondo-carta {
  min-height: 100vh;
  background-image: url(../Assets/croissants-g063595cd1_1920.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 60px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
}
.fondo-carta h2 {
  font-family: "Montserrat", sans-serif;
  font-size: xx-large;
  font-weight: bolder;
  color: white;
  letter-spacing: 8px;
  position: relative;
  margin-right: 90px;
}
.fondo-carta h2 {
  -webkit-animation: h2 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: h2 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes h2 {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
    transform: translateZ(12px);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes h2 {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
    transform: translateZ(12px);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

.carta {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 0 100px 50px 100px;
  gap: 3em;
}
.carta h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
  font-weight: bolder;
  color: black;
  text-align: center;
}
.carta p {
  font-family: "Cormorant Garamond", serif;
  font-weight: bolder;
  font-size: 15px;
  color: black;
  text-align: center;
  margin: 5px 10px 5px 10px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 3px rgba(133, 133, 133, 0.486);
  padding: 10px 0 10px 0;
}
.card img {
  width: 400px;
  border-radius: 3px;
  margin: 20px 0 20px 0;
}

.contenido-nosotros {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat 2, 1fr;
  padding: 40px;
  padding-top: 10px;
}

.texto {
  text-align: left;
  display: block;
  margin: auto;
  padding: 40px;
  font-size: large;
}

.contenido-nosotros img {
  border-radius: 5%;
  display: block;
  margin: auto;
  margin-top: 20px;
}

.locales {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.locales img {
  border-radius: 8px;
}

.sub-text {
  font-family: "Cormorant Garamond", serif;
  font-weight: lighter;
  color: white;
  font-size: 150%;
  font-style: italic;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 30px;
  background-color: rgba(27, 12, 12, 0.938);
}

.sub-text {
  -webkit-animation: sub-text 1.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) reverse both;
  animation: sub-text 1.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) reverse both;
}

@-webkit-keyframes sub-text {
  0% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%);
  }
}
@keyframes sub-text {
  0% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%);
  }
}
.carousel {
  width: 100%;
  display: flex;
  justify-content: center;
}

.local {
  padding: 30px;
}
.local p {
  font-family: "Cormorant Garamond", serif;
  font-weight: bolder;
  font-size: large;
  color: black;
  margin: 0;
}

.boton-reservas {
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding-bottom: 40px;
}
.boton-reservas input {
  background: rgba(27, 12, 12, 0.938);
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  font-size: small;
  letter-spacing: 2px;
  padding: 12px;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
}

.formulario {
  background-image: url(../Assets/Inicio.jpg);
  padding: 60px;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: rgba(32, 32, 32, 0.651);
  border-radius: 10px;
  padding: 50px;
  margin: 0, auto;
  display: inline-block;
}

.form-title {
  font-size: xx-large;
  margin-bottom: 0.5em;
  color: white;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 7px;
  text-align: center;
}

.form-container {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: small;
  font-weight: bold;
  text-align: center;
}
.form-container input {
  border: none;
  border-bottom: 1px solid white;
  background: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.opciones {
  width: min-content;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: small;
  font-weight: bold;
  padding: 4px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-items: center;
}

.boton-submit {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.boton-submit input {
  background: rgb(73, 85, 255);
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  font-size: small;
  letter-spacing: 2px;
  padding: 12px;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: none;
  padding: 40px;
}

.colum h3 {
  font-family: "Montserrat", sans-serif;
  font-size: small;
  font-weight: bolder;
  color: rgb(23, 7, 7);
  letter-spacing: 3px;
  text-align: center;
  margin: 5px;
}
.colum p {
  font-family: "Cormorant Garamond", serif;
  font-weight: bolder;
  font-size: medium;
  color: black;
  line-height: 30px;
  text-align: center;
}

.iconos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  padding: 15px;
}

@media screen and (min-width: 480px) and (max-width: 880px) {
  .menu li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: none;
    margin: 15px;
  }
  .inicio h2 {
    text-align: center;
  }
  .inicio p {
    font-size: 150%;
    margin: 15px;
  }
  .contenido-nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: none;
  }
  .texto {
    text-align: center;
    margin: 30px;
    font-size: large;
  }
  .img img {
    width: 400px;
  }
  .carta {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 30px;
    gap: 3em;
  }
  .carta img {
    width: 200px;
  }
  .local h3 {
    text-align: center;
    padding-top: 10px;
  }
  .local p {
    margin: 15px;
    padding: 0%;
    font-size: smaller;
  }
  .locales img {
    padding: 10px;
  }
}
@media screen and (max-width: 480px) {
  .menu {
    font-size: x-small;
  }
  .menu li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: none;
    margin: 15px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .footer div img {
    width: 18px;
  }
  .colum {
    margin: 15px;
  }
  .colum h3 {
    font-size: x-small;
  }
  .colum p {
    font-size: small;
  }
  .inicio h2 {
    font-size: large;
    text-align: center;
  }
  .inicio p {
    font-size: small;
    margin: 15px;
  }
  .inicio .inicio2 {
    padding: 10px;
    margin: auto;
  }
  .subtitulos {
    font-size: large;
  }
  .contenido-nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: none;
  }
  .texto {
    text-align: center;
    display: block;
    margin: auto;
    font-size: small;
  }
  .contenido-nosotros img {
    width: 350px;
  }
  .fondo-carta h2 {
    font-size: large;
  }
  .carta {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 3em;
  }
  .carta h4 {
    font-size: small;
  }
  .carta p {
    font-size: small;
  }
  .carta img {
    width: 200px;
  }
  .locales {
    display: flex;
    flex-direction: column;
  }
  .local h3 {
    text-align: center;
    padding-top: 10px;
  }
  .local p {
    margin: 15px;
    padding: 0%;
    font-size: smaller;
  }
  .form-title {
    font-size: large;
  }
  .form-container {
    font-size: x-small;
  }
  .opciones {
    font-size: x-small;
  }
}

/*# sourceMappingURL=style.css.map */
