
@mixin flex ($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin background-image ($size, $position, $attachment) {
    background-size: $size;
    background-position: $position;
    background-attachment: $attachment;
}

@mixin grid ($colums, $rows){
    display: grid;
    grid-template-columns: $colums;
    grid-template-rows: $rows;
}