
.footer {
    @include grid (repeat(3,1fr), none);
    padding: 40px;
  }
  
  .colum {
    h3 {
      font-family: 'Montserrat', sans-serif;
      font-size: small;
      font-weight: bolder;
      color:$texto-subtitulos-subsubtitulos;
      letter-spacing: 3px;
      text-align: center;
      margin: 5px;
    }
  
    p {
      font-family: 'Cormorant Garamond', serif;
      font-weight: bolder;
      font-size: medium;
      color:$texto-comun;
      line-height: 30px;
      text-align: center;
    }
  }
  .iconos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    padding: 15px;
  }
  
