
.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 40px;
  }
  
  .colum {
    h3 {
      font-family: 'Montserrat', sans-serif;
      font-size: small;
      font-weight: bolder;
      color: rgb(23, 7, 7);
      letter-spacing: 3px;
      text-align: center;
      margin: 5px;
    }
  
    p {
      font-family: 'Cormorant Garamond', serif;
      font-weight: bolder;
      font-size: medium;
      color: black;
      line-height: 30px;
      text-align: center;
    }
  }