
.logo {
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  
  .navbar {
  @include flex (none, center, center);
    margin: 30px;
  }
  
  .menu {
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: smaller;
    letter-spacing: 3px;
  
    li {
      display: inline;
      margin-inline: 30px;
  
      a {
        color: rgb(23, 7, 7);
        text-decoration: none;
      }
    }
  }