
body{
  overflow-x: hidden;
}

.fondo-carta {
    min-height: 100vh;
    background-image: url(../Assets/croissants-g063595cd1_1920.jpg);
    @include background-image (cover, center, fixed);
    @include flex (column, center, flex-end);
    padding: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
  
    h2 {
      font-family: 'Montserrat', sans-serif;
      font-size: xx-large;
      font-weight: bolder;
      color:$texto-en-fondo;
      letter-spacing: 8px;
      position: relative;
      margin-right: 90px;
    }

    h2 {
      -webkit-animation: h2 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
              animation: h2 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    @-webkit-keyframes h2 {
      0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(300px);
                transform: translateZ(300px);
        -webkit-filter: blur(12px);
                filter: blur(12px);
        opacity: 0;
      }
      100% {
        -webkit-transform: translateZ(12px);
                transform: translateZ(12px);
        -webkit-filter: blur(0);
                filter: blur(0);
        opacity: 1;
      }
    }
    @keyframes h2 {
      0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(300px);
                transform: translateZ(300px);
        -webkit-filter: blur(12px);
                filter: blur(12px);
        opacity: 0;
      }
      100% {
        -webkit-transform: translateZ(12px);
                transform: translateZ(12px);
        -webkit-filter: blur(0);
                filter: blur(0);
        opacity: 1;
      }
    }
  }
  
  .carta {
    @include grid (repeat(3,1fr), repeat(2,1fr));
    padding: 30px;
    gap: 3em;
  
    h4 {
      font-family: 'Montserrat', sans-serif;
      font-size: 100%;
      font-weight: bolder;
      color:$texto-comun;
      text-align: center;
    }
  
    p {
      font-family: 'Cormorant Garamond', serif;
      font-weight: bolder;
      font-size: 15px;
      color:$texto-comun;
      text-align: center;
      margin: 5px 10px 5px 10px;
    }
  }
  
  .card {
    @include flex (column, center, center);
    background-color:$background-card;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px rgba(129, 128, 128, 0.5);
    padding: 10px;
  
    img {
      border-radius: 3px;
      margin: 20px 0 20px 0;
    }
  }