
.formulario {
  background-image: url(../Assets/Inicio.jpg);
  padding: 60px;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: none;
  position: relative;
}

.form {
  background-color: rgba(32, 32, 32, 0.651);;
  margin: auto;
  width: 90%;
  max-width: 400px;
  padding: 4.5em 3em;
  border-radius: 10px;
}

.form-title {
  font-size: xx-large;
  margin-bottom: .5em;
  color: white;
  font-family:"Montserrat", sans-serif;
  letter-spacing: 7px;
  text-align: center;
}

.form-container {
  margin-top: 3em;
  display:flex; 
flex-direction:column; 
align-items:center; 
  justify-content: center;
  gap: 1em;
  color: white;
  font-family:"Montserrat", sans-serif ;
  font-size: small;
  font-weight: bold;
  text-align: center;

  input{
    border: none;
    border-bottom: 1px solid white;
    background: none;
    outline: none;
    font-family: "Montserrat", sans-serif;
    color: white;
}
}

.opciones{
  width: min-content;
  font-family:"Montserrat", sans-serif ;
  color: black;
  font-size: small;
  font-weight: bold;
  padding: 4px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-items: center;
}

.boton-submit{
  display: flex;
  justify-content: center;
  margin-top: 50px;

  input{
    background: white;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    font-size: small;
    letter-spacing: 2px;
    padding: 12px;
    border: none;
    border-radius: .5em;
    cursor: pointer;
  }
}
