
.locales {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  
    img {
      border-radius: 8px;
    }
  }

  .sub-text{
    font-family: 'Cormorant Garamond', serif;
    font-weight: lighter;
    color: white;
    font-size: 150%;
    font-style: italic;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    padding:30px;
    background-color: rgba(27, 12, 12, 0.938);
}

.sub-text {
	-webkit-animation: sub-text 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) reverse both;
	        animation: sub-text 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) reverse both;
}

@-webkit-keyframes sub-text {
  0% {
    -webkit-filter: blur(0.01);
            filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
            filter: blur(12px) opacity(0%);
  }
}
@keyframes sub-text {
  0% {
    -webkit-filter: blur(0.01);
            filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
            filter: blur(12px) opacity(0%);
  }
}

  .carousel{
    width: 100%;
    display:flex;
    justify-content: center;
  }


.local{
padding: 30px;

  p{
    font-family: 'Cormorant Garamond', serif;
    font-weight: bolder;
    font-size: large;
    color: black;
    margin: 0;
  }
}

.boton-reservas{
  display: flex;
  justify-content: center;
  text-decoration: none;
padding-bottom: 40px;
  input{
    background: rgba(27, 12, 12, 0.938);
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    font-size: small;
    letter-spacing: 2px;
    padding: 12px;
    border: none;
    border-radius: .5em;
    cursor: pointer;
  }
}
