
.inicio {
    min-height: 100vh;
    background-image: url(../Assets/Fondo2.jpg);
    @include background-image (cover, center, fixed);
    @include flex (column, center, center);
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
  
.inicio2 {
  background-color: rgba(29, 29, 29, 0.767);
  padding: 50px;
  margin: 0 50px 0 50px;
}
  
.inicio2 {
      -webkit-animation: inicio2 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
              animation: inicio2 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

  @-webkit-keyframes inicio2 {
      0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(300px);
                transform: translateZ(300px);
        -webkit-filter: blur(12px);
                filter: blur(12px);
        opacity: 0;
      }
      100% {
        -webkit-transform: translateZ(12px);
                transform: translateZ(12px);
        -webkit-filter: blur(0);
                filter: blur(0);
        opacity: 1;
      }
    }
  @keyframes inicio2 {
      0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(300px);
                transform: translateZ(300px);
        -webkit-filter: blur(12px);
                filter: blur(12px);
        opacity: 0;
      }
      100% {
        -webkit-transform: translateZ(12px);
                transform: translateZ(12px);
        -webkit-filter: blur(0);
                filter: blur(0);
        opacity: 1;
      }
    }
    
    h2 {
      font-family: 'Montserrat', sans-serif;
      font-size: 250%;
      font-weight: bolder;
      color:$texto-en-fondo;
      letter-spacing: 8px;
      margin-top: 30px;
      text-align: center;
    }
    
    p {
      font-family: 'Cormorant Garamond', serif;
      font-weight: lighter;
      font-size: 160%;
      color:$texto-en-fondo;
      margin: 30px;
      text-align: center;
      font-style: italic;
  }
}

 .subtitulos {
  font-family: 'Montserrat', sans-serif;
  font-size: x-large;
  font-weight: bolder;
  color: $texto-subtitulos-subsubtitulos;
  margin: 50px;
  letter-spacing: 3px;
}

.texto {
  font-family: 'Cormorant Garamond', serif;
  font-weight: bolder;
  font-size: medium;
 color: black;
}

.sub-subtitulo {
  font-family: 'Montserrat', sans-serif;
  font-size: large;
  font-weight: bolder;
  color: $texto-subtitulos-subsubtitulos;
}