
@media screen and (max-width: 480px) {
    .menu {
      font-size: x-small;
  
      li {
      @include flex(row, center, none);
        margin: 15px;
      }
    }
  
    .footer {
      display: flex;
      flex-direction: column;
  
      div img {
        width: 18px;
      }
    }
  
    .colum {
      margin: 15px;
  
      h3 {
        font-size: x-small;
      }
  
      p {
        font-size: small;
      }
    }
  
    .inicio {
      
  
      h2 {
        font-size: 170%;
        text-align: center;
      }
  
      p {
        font-size: 100%;
        margin: 15px;
      }
    }
  
    .contenido-nosotros {
      @include flex(column, center, none);
    }
  
    .texto {
      text-align: center;
      display: block;
      margin: auto;
      font-size: small;
    }
  
    .contenido-nosotros img {
      width: 350px;
    }
  
    .carta {
      display: flex;
      flex-direction: column;
      padding: 30px;
      gap: 3em;
  
      img {
        width: 200px;
      }
    }
  
    .locales {
      display: flex;
      flex-direction: column;
    }
  
    .local {
      h3 {
        text-align: center;
        padding-top: 10px;
      }
  
      p {
        margin: 15px;
        padding: 0%;
        font-size: smaller;
      }
    }
  
    .reservas label, .seleccion {
      font-size: small;
    }
  }